.grid {
  flex: 1 1 300px;
  display: grid;
  grid: repeat(4, min-content) / auto-flow 1fr;
  gap: 1rem;
  align-items: stretch;
  object-fit: cover;
  padding: clamp(1rem, 7vw, 2rem);
}

/* CARD */
#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1rem;
  align-self: start;
}

.card {
  --font-sm: clamp(0.75rem, 0.16vw + 0.71rem, 0.84rem);
  --font-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-md: clamp(1.33rem, 0.63vw + 1.18rem, 1.68rem);
  --font-xl: clamp(2.37rem, 1.8vw + 1.92rem, 3.36rem);
  --font-xxl: clamp(3.16rem, 2.89vw + 2.43rem, 4.75rem);
  font-size: var(--font-base, 1rem);
  font-weight: 500;
  padding: 2rem;
  max-inline-size: 400px;
  border-radius: 6px;
  align-self: start;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.card header {
  display: grid;
  grid: auto auto / auto 1fr;
  align-items: center;
  color: #000e;
  padding-bottom: 0.5rem;
  gap: 0.25rem 0.5rem;
}

.card header::after {
  content: "";
  background: var(--beverage-color, #8bf305);
  inline-size: 20px;
  aspect-ratio: 1;
  border-radius: 999px;
  box-shadow: inset 0 0 0 1px #0002;
  grid-area: 2 / 1;
}

.card h2 {
  grid-area: 1 / 1 / auto / -1;
  line-height: 1.125;
  padding-inline-end: max(10%, 3rem);
  font-size: var(--font-md);
}

.card header p {
  grid-area: 2 / 2;
  font-size: var(--font-sm);
  color: hsl(264 10% 45%);
  font-weight: 600;
}

.card h3 {
  font-size: var(--font-sm);
  font-weight: 700;
}

.card section {
  display: grid;
  grid: auto / max(5.5rem, 35%) 1fr;
  gap: 0.5rem;
}

.card > * + :not(.price) {
  margin-top: 1rem;
}

.price {
  font-weight: 800;
  color: hsl(264 10% 45%);
  text-align: center;
}

[data-price] {
  font-size: var(--font-xxl);
  font-weight: 600;
  color: hsl(264 50% 40%);
}

.card ul {
  display: flex;
  flex-flow: wrap;
  gap: 0.3rem;
  list-style: none;
}

.card li {
  padding: 0.15rem 0.3rem;
  border-radius: 4px;
  background: hsl(264 10% 92%);
  color: #2b2b2b;
  font-weight: 500;
  font-size: 0.9em;
}

.card progress {
  accent-color: #5000ca;
}

.action {
  background: hsl(5 92% 71% / 15%);
  padding: 1rem;
  margin: 2rem -2rem -2rem;
  display: grid;
  justify-items: center;
}

.delete-btn {
  all: initial;
  display: flex;
  align-items: center;
  border: 1px solid hsl(5 52% 50%);
  background: var(--bg, transparent);
  color: var(--fg, hsl(5 52% 50%));
  padding-inline: 0.15em 0.75em;
  border-radius: 8px;
  font: inherit;
  cursor: pointer;
}

.delete-btn:is(:hover, :focus-visible) {
  --fg: #fff;
  --bg: #f97e72;
  --line-stroke: hsl(5 52% 50%);
}

.delete-btn svg {
  order: -1;
}

.card[data-happy-hour="true"] {
  position: relative;
  overflow: hidden;

  &::before {
    --bg: #5000ca;
    content: "Happy Hour 🤩";
    box-shadow: 0 0 0 999px var(--bg);
    clip-path: inset(0 -100%);
    position: absolute;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background: var(--bg);
    font-family: sans-serif;
    padding: 3px 0;
    text-align: center;
    inset: 0 0 auto auto;
    transform-origin: 0 0;
    transform: translate(29.3%) rotate(45deg);
    z-index: 1;
  }
}
